{% include "header.html" %}


{% block body %}


<div class="panel=heading">

<h2>Add Student <a class="pull-right btn btn-success" href="/">Voltar</a> </h2>

</div>



<div class="panel-body">

<form action="{{ url_for('processtudent') }}" method="post">
<div class="form-group">

    <label for="name">Nome: </label>
    <input type="text" class="form-control" name="name" id="name" required = "1"  >

</div>



    <div class="form-group">

    <label for="name">Idade: </label>
    <input type="number" class="form-control" name="email" id="email" required = "1" >

</div>




        <div class="form-group">

    <label for="name">Lugar de Origem</label>
    <input type="text" class="form-control" name="phone" id="phone" required = "1"  >

</div>

<div class="form-group">

    <label for="name">Descrição</label>
    <textarea name="descricao id="descricao" cols="30" rows="10"></textarea>

</div>


    <div class="form-group">
        <input type="hidden" name="id" value="1">

     <input type="hidden" name="action" value="edit">
     <input type="submit" class="btn btn-success" name="submit" value="Add">

</div>


</form>


</div>



{% endblock %}