<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Personagem</title>
</head>
<body>

<div class="formulario_criação">


    <form>

      <div class="titulo">

          <h4>Inserir Personagem</h4>

      </div>

      <div class="identifica">

          <label>ID:</label>
          <input type="number" name="ID">

      </div>

      <div class="nome">

          <label>Nome:</label>
          <input type="text" name="nome">

      </div>

      <div class="idade">

          <label>idade:</label>
          <input type="number" name="idade">

      </div>

      <div class="lugar_de_origem">

          <label>Lugar de Origem</label>
          <input type="text" name="lugar">

      </div>

      <div class="descricao">

          <label>Descrição:</label>
          <textarea name="descricao" cols="30" rows="10"></textarea>

      </div>

      <div class="botão_inserir">

          <a href="index.html"> <button type="submit">Inserir</button> </a>

      </div>

    </form>

</div>



</body>
</html>