<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="" class="" role="dialog">

        <div class="">

            <div class="">

                <div class="">

                    <button type="button" class="close">&times;</button>

                    <h4 class="">Editar Personagem</h4>

                </div>

                <div class=""> 

                    <form method="POST">

                        <div class="">

                            <label>ID: </label>
                            <input type="number" class="form-control" name="ID" required="1" >

                        </div>

                        <div class="">

                            <label>Nome: </label>
                            <input type="text" class="" name="name" required="1">

                        </div>

                        <div class="">

                            <label>Lugar de Origem: </label>
                            <input type="text" class="" name="lugar" required="1">

                        </div>

                        <div class="">

                            <label>Descrição: </label>
                            <textarea name="descricao" class="" cols="30" rows="10" required="1"></textarea>

                        </div>

                        <div class="">

                            <button class="btn btn-primary" type="submit">Atualizar</button>

                        </div>

                    </form>

                </div>

</body>
</html>