<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Personagem</title>
    <link rel="stylesheet" href="../static/css/create.css">
    <link rel="shortcut icon" type="image/ico" href="../static/favicon.ico"/>

</head>
<body>

    <form action="/edit/{{ perso }}" method="POST">

        <div class="titulo">
  
            <h4>Atualizar Personagem</h4>
  
        </div> 

  
        <div class="nome">
  
            <label>Nome:</label>
            <input type="text" name="nome" value="{{ perso[1] }}">
  
        </div>
  
        <div class="idade">
  
            <label>Idade:</label>
            <input type="number" name="idade" value="{{ perso[2] }}">
  
        </div>
  
        <div class="lugar">
  
            <label>Lugar de Origem</label>
            <input type="text" name="lugar" value="{{ perso[3] }}">
  
        </div>
  
        <div class="descricao">
  
            <label>Descrição:</label>
            <textarea name="descricao" cols="30" rows="10" value="">{{ perso[4] }}</textarea>
  
        </div>

  
        <div class="botão_inserir">

                  <button type="submit" class="atualizar">Atualizar</button>
  
        </div>
  
      </form>
  
  </div>

</body>
</html>