<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONE PIECE PERSONAGENS</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="shortcut icon" type="image/ico" href="../static/favicon.ico"/>
</head>
<body>
    
    <div class="head">
        <header>
            <h1>Personagens de One Piece</h1>
        </header>
    </div>
    
    <div class="container">
    
        <div class="coluna">
    
            <h2>Lista de Personagens</h2> 
    
                            <tr>
                                <th>Nome</th>
                                <th>Idade</th>
                                <th>Lugar de Origem</th>
                                <th>Descrição</th>
                            </tr>
    
                            {% for person in personagem %}
                            <tr>
    
                                <td>{{ personagem.nome }}</td>
                                <td>{{ personagem.idade }}</td>
                                <td>{{ personagem.lugar }}</td>
                                <td>{{ personagem.descricao }}</td>
    
                            </tr>
                            {% endfor %}
    
        </div>
    
    </div>

</body>
</html>
