<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONE PIECE PERSONAGENS</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="shortcut icon" type="image/ico" href="../static/favicon.ico"/>
</head>
<body>
    
    <div class="head">
        <header>
            <h1>Personagens de One Piece</h1>
        </header>
    </div>
    
    <div class="container">
    
        <div class="coluna">
    
            <h2>Lista de Personagens <button> <a href="{{ url_for ('create')}}"></a> ADD</button></h2>  
            <table>
    
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Lugar de Origem</th>
                    <th>Descrição</th>
                </tr>

                {% for personagem in perso %}
                <tr>

                    <td>{{ personagem[0] }}</td>
                    <td>{{ personagem[1] }}</td>
                    <td>{{ personagem[2] }}</td>
                    <td>{{ personagem[3] }}</td>
                    <td>{{ personagem[4] }}</td>

                </tr>
                {% endfor %}
                
            </table>
    
        </div>
    
    </div>

</body>
</html>
